.barra-navegacion {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #cf5322;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #cf5322;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 160px;
  padding: 5px 0;
  border-radius: 5px;
}

.dropdown-item {
  list-style: none;
}

.nav-button {
  display: block;
  color: rgb(0, 0, 0);
  padding: 10px 16px;
  text-align: start;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  margin: 4px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #555;
}
